<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string> https://download1085.mediafire.com/3l5d4r5f32bgFLDXRezZF2NX8eq1x63Feub3W-1i5X8mAnZ-OlNasEYm8NwSmRtQznGa-c-JEVXz73RGD9NVl7dVhvCr2QE2Vn_nzmph3KWnRaYIqPGyg4MVUqS4ceSMQZy6u8hwEzf7NGttXBZPRMXCvRHHcdsHdML-sU5trw/nm9lugb2hygh2ev/GBox_4.3.1_1702719719.ipa </string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ncs.gbox</string>
                <key>bundle-version</key>
                <string>4.3.1</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>GBox</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>