<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://download1074.mediafire.com/7vlxsqohhktgVs1EhngZ6Y35QTtJ11cntdMzEjdMAUhj_Gx7JaWHkE7orgoA03n1-Happ5z8XsUNectIRuiIEBpBtaK8ObzoN7r-Faw4EWEjCL7n8rsoQVfYPuLf5SwZ3_iy7HU6gH3ckV2N7GBjNFusVYnKqkkFYqVCI9gdaQ/bs10lwrk3pbh1zm/TikTok_32.0.0_1702719725.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.zhiliaoapp.musically</string>
                <key>bundle-version</key>
                <string>32.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>TikTok</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>