<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string> https://download1085.mediafire.com/3m0mylrayk6gWaV65A3szs3r_fGsIgG67zmG5m04U_NW9hdh_XhaH1kysdJN-4bo5UJp1w33T1OG3VCmfJBUqsaAdZ_hk9IbOxsifm_tPZJ8Im-WkNpjCVAHn304c8BERnCfm0uFSzlPXfS-dErcOFACbL56_tTXCp4ctTRNeQ/bdjvf39h3j1kvq7/YouTube_18.44.3_1702719639.ipa </string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.google.ios.youtube</string>
                <key>bundle-version</key>
                <string>18.44.3</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>YouTube</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>